<launch>
  <!-- Utility-based frontier variant of 3smb_sim_mgg.launch -->
  <arg name="robot_name" default="smb"/>
  <arg name="gazebo_gui_en" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="rviz_en" default="true"/>
  <arg name="launch_prefix" default=""/>
  <arg name="max_battery_distance" default="500.0"/>
  <arg name="comm_constraint_enable" default="true"/>
  <arg name="comm_constraint_max_distance" default="100.0"/>
  <arg name="world_file" default="$(find planner_gazebo_sim)/worlds/darpa_cave_02.world"/>
  <arg name="metrics_run_subdir" default=""/>

  <include file="$(find mggplanner)/launch/smb/3smb_sim_mgg.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="gazebo_gui_en" value="$(arg gazebo_gui_en)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="rviz_en" value="$(arg rviz_en)"/>
    <arg name="launch_prefix" value="$(arg launch_prefix)"/>
    <arg name="max_battery_distance" value="$(arg max_battery_distance)"/>
    <arg name="comm_constraint_enable" value="$(arg comm_constraint_enable)"/>
    <arg name="comm_constraint_max_distance" value="$(arg comm_constraint_max_distance)"/>
    <arg name="world_file" value="$(arg world_file)"/>
    <arg name="metrics_run_subdir" value="$(arg metrics_run_subdir)"/>
    <arg name="mggplanner_config_file"
         value="$(find mggplanner)/config/$(arg robot_name)/mgg_darpa_utility.yaml"/>
  </include>
</launch>
