<launch>
  <!-- GCAA-lite iterative auction variant (backward-compatible opt-in). -->
  <arg name="robot_name" default="smb"/>
  <arg name="gazebo_gui_en" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="rviz_en" default="true"/>
  <arg name="launch_prefix" default=""/>
  <arg name="max_battery_distance" default="250.0"/>
  <arg name="comm_topology_mode" default="relay"/>
  <arg name="comm_max_range_m" default="100.0"/>
  <arg name="comm_relay_battery_fraction" default="0.5"/>
  <arg name="world_file" default="$(find planner_gazebo_sim)/worlds/pittsburgh_mine.world"/>
  <arg name="metrics_run_subdir" default=""/>

  <include file="$(find mggplanner)/launch/smb/3smb_sim_mgg.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="gazebo_gui_en" value="$(arg gazebo_gui_en)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="rviz_en" value="$(arg rviz_en)"/>
    <arg name="launch_prefix" value="$(arg launch_prefix)"/>
    <arg name="max_battery_distance" value="$(arg max_battery_distance)"/>
    <arg name="comm_topology_mode" value="$(arg comm_topology_mode)"/>
    <arg name="comm_max_range_m" value="$(arg comm_max_range_m)"/>
    <arg name="comm_relay_battery_fraction" value="$(arg comm_relay_battery_fraction)"/>
    <arg name="world_file" value="$(arg world_file)"/>
    <arg name="metrics_run_subdir" value="$(arg metrics_run_subdir)"/>
    <arg name="gcaa_lite_enable" value="true"/>
    <arg name="mggplanner_config_file"
         value="$(find mggplanner)/config/$(arg robot_name)/mgg_darpa_auction.yaml"/>
  </include>
</launch>
